.bg-dark {
  background-color: #1a73e8!important; 
}

.btn-primary {
  min-width: 8em;
}

.btn-secondary {
  min-width: 8em;
}

/* Playback button sizes to match look of height of left-hand nav menu items */
/* Font is left alone and thus remains a bit smaller. */
.media-action.btn {
  padding: 0.2em 0.75em;
  color: #6C757D;
  border-color: #6C757D;
}

/* ========= Nav for interview sections ========= */

/* === Nav item containers === */
.danav-vertical.danavnested {
  margin-left: 1em;
  padding: 0;
}

/* Vertical line for outer-most nav items */
.danav-vertical {
  border-left: 2px solid #cccccc;
  border-radius: 0;
}

/* === All nav items === */
.danav-vertical .nav-link {
  padding: .2em 1em;
}

.danav-vertical .danavlink::before {
  content: '';
  display: inline-block;
  position: absolute;
  /* The dimensions have to be bigger than the images of the circles, though it doesn't matter how much bigger. */
  width: 2.1em;
  /* This aligns well with the text while smaller heights don't. The images can be changed so that the we can decrease the circle sizes if we want. */
  height: 2em;
  /* Account for the border that creates the vertical line. */
  left: -0.1em;
  top: 0;
  /* Translated relative to the pseudo-element itself. */
  transform: translate(-50%, 0%);
  /* Base the size on height, which is currently most consistently the same between different images. */
  background-size: auto 100%;
  /* This must be added because the dimensions of the pseudo-element don't exactly match the dimensions of the background element and we don't want to mess with those. Without this, the circle image would end up too far to the left. */
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* === Nav item for currently active section === */
/* `.active` nested nav items also seem to have `.daclickable` */
.danav-vertical .danavlink.active::before,
.danav-vertical .danavlink.daclickable.active::before {
  background-image: url(active.svg);
}
.danav-vertical .danavlink.active:first-child:before,
.danav-vertical .danavlink.daclickable.active:first-child:before {
  /* Has extra white above the circle image to hide the border going through it. */
  background-image: url(active_first_item.svg);
}
/* First nested items */
.danav-vertical .danav-vertical .danavlink.active:first-child:before,
.danav-vertical .danav-vertical .danavlink.daclickable.active:first-child:before {
  /* same image, but with bar extending from left to match vertical bar */
  background-image: url(active_first_item_nested.svg);
}
.danav-vertical .danavlink.active:last-child:before,
.danav-vertical .danavlink.daclickable.active:last-child:before {
  /* Has extra white below the circle image to hide the border going through it. */
  background-image: url(active_last_item.svg);
}

/* Active item background and font colors */
/* The color for an active item is now primay-colored text with no background. Should be handled with SCSS. Previous style was while text with primary-colored background. */
.danav-vertical .nav-link.active,
.danav-vertical .show > .nav-link {
  /* To play with a thick underline, uncomment these. A little too much? Especially with 'g's */
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  background: none;
  color: #007bff;
}

/* Hide the dropdown arrow for nested nav items. */
/* This is not accessibility-friendly really because it doesn't have the aria-hidden attribute */
.danav-vertical .danavlink .toggler {
  display: none;
}
.daclickable:hover {
  text-decoration: underline;
}

/* === Completed nav items (will all look clickable) === */
.danav-vertical .danavlink::before {
  background-image: url(done.svg);
}
.danav-vertical .danavlink:first-child:before {
  /* Has extra white above the circle image to hide the border going through it. */
  background-image: url(done_first_item.svg);
}
/* First nested items */
.danav-vertical .danav-vertical .danavlink:first-child:before {
  /* Same image, but with bar extending from left to match vertical bar */
  background-image: url(done_first_item_nested.svg);
}
.danav-vertical .danavlink:last-child:before {
  /* Has extra white below the circle image to hide the border going through it. */
  background-image: url(done_last_item.svg);
}


/* === Nav items for sections that have not yet been visited. === */
.danav-vertical .danavlink.danotavailableyet:before {
  background-image: url(notavailableyet.svg);
}
/* First item never has this class */
.danav-vertical .danavlink.danotavailableyet:last-child:before {
  /* Has extra white below the circle image to hide the border going through it. */
  background-image: url(notavailableyet_last_item.svg);
}


/* ==================================== */
/* ===== Problem category buttons ===== */
/* WARNING: These styles are dependant on the page id being "room chooser" */

/* To make up for the margin on the right that every element has
* because the n-th child psuedo selector is not supported enough. */
.question-room-chooser .da-field-buttons {
  margin-right: -1em;
}

.question-room-chooser .btn-da-custom {
  /* The button style guide gives 15 extra pixels or so to the width
  * of the center column. These styles currently choose to make the
  * text and all `em` styles slightly smaller instead. */
  font-size: 0.7em;
  /* position relative to anchor the position absolute angle bracket
  * on the right-hand side */
  position: relative;
  width: 48%;
  height: auto;
  margin-right: 0.3em;
  text-align: left;
  padding: 0.75rem 0.8em;
  /* Maintain room for the right-hand side angle bracket */
  padding-right: 1.6em;
  margin-bottom: 0.5em;
  border-radius: 3px;
  font-weight: 600;
  /* color: black; */
}

.question-room-chooser .btn-da-custom:after {
  /*
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  
  font: "Font Awesome 6 Solid";
  content: "\f137";
  */
  content: ">";
  position: absolute;
  top: 50%;
  right: 1em;
  font-weight: 700;
  transform: translate(0, -50%);
}

/*  */
.question-room-chooser .btn-da-custom div {
  display: inline-block;
  margin-right: 0.6em;
}

.question-room-chooser .btn-da-custom svg {
  height: 1em !important;
  width: 1.5em !important;
  vertical-align: middle;
}
